<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Player Names - Tic Tac Toe</title>
    <link rel="icon" href="../static/css/icon.jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Tic Tac Toe!</h1>
        <form method="POST" action="/">
            <div class="input-group">
                <label for="player1">Player 1 Name (X):</label>
                <input type="text" id="player1" name="player1" required placeholder="Enter Player 1 name">
            </div>
            <div class="input-group">
                <label for="player2">Player 2 Name (O):</label>
                <input type="text" id="player2" name="player2" required placeholder="Enter Player 2 name">
            </div>
            <button type="submit">Start Game</button>
        </form>
    </div>
</body>
</html>
